@model AnotherHotel.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="reservationID" />
            <div class="form-group">
                <label asp-for="roomRented" class="control-label"></label>
                <input asp-for="roomRented" class="form-control" />
                <span asp-validation-for="roomRented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userRegistrator" class="control-label"></label>
                <input asp-for="userRegistrator" class="form-control" />
                <span asp-validation-for="userRegistrator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOfAccomodation" class="control-label"></label>
                <input asp-for="dateOfAccomodation" class="form-control" />
                <span asp-validation-for="dateOfAccomodation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOfLeave" class="control-label"></label>
                <input asp-for="dateOfLeave" class="form-control" />
                <span asp-validation-for="dateOfLeave" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="includedBreakfast" /> @Html.DisplayNameFor(model => model.includedBreakfast)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="allInclusive" /> @Html.DisplayNameFor(model => model.allInclusive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="priceOwed" class="control-label"></label>
                <input asp-for="priceOwed" class="form-control" />
                <span asp-validation-for="priceOwed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
